.see-modal-main-container {
  width: 100%;
  height: 70vh;
  background-color: blue;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.see-modal-container {
  width: 500px;
  height: 600px;
  background-color: rgb(191, 191, 191);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
}

.see-modal-top {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-close-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.see-modal-sched-container {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.see-sched-container {
  width: 80%;
  height: fit-content;
  display: flex;
  padding: 5px;
  border-radius: 0.5rem;
}

.see-submit-button {
  padding: 8px 20px 8px 20px;
  background-color: rgb(166, 245, 242);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.add-schedule-button-container {
  width: 100%;
  height: 15%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
